<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>omnifocus-ical-sync</string>
	<key>ProgramArguments</key>
	<array>
	<string>osascript</string>
	<string>/Users/ivanomahony/development/omnifocus-ical-sync.scpt</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/Users/ivanomahony/tmp/omnifocus-ical-sync.err</string>
	<key>StandardOutPath</key>
	<string>/Users/ivanomahony/tmp/omnifocus-ical-sync.out</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
